* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375C;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Sora', sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 60px;
    display: inline-block;
    height: var(--height);
    min-width: 205px;
    padding: 0 20px;
    text-align: center;
    font-weight: 400;
    font-size: 1.6rem;
    color: #FFFFFF;
    background-color: #2E80CE;
    line-height: var(--height);
    border-radius: 99px;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* Header */

.header {
    min-height: 100vh;
    background-color: var(--header-bg);
    padding-top: 30px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    display: inline-flex;
    align-items: flex-start;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background-color: #2E80CE;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background-color: #FFFFFF;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    font-family: Sora, sans-serif;
    font-size: 1.8em;
    font-weight: 400;
    color: #FFFFFF;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

/* Navbar */

.navbar__list {
    display: flex;
}

.header-action {
    display: flex;
    align-items: center;
}

.navbar__item--link,
.header-action__login {
    padding: 4px 21px;
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
}

.header-action__login {
    margin-right: 7px;
}

.navbar__item--link:hover,
.navbar__item--active .navbar__item--link {
    text-shadow: 1px 0 0 currentColor;
    font-weight: 400;
    color: #FFFFFF;
}

.navbar__item--active .navbar__item--link::before {
    position: relative;
    left: -8px;
    top: -2px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.header-action__signup {
    --height: 44px;
    min-width: 104px;
}

/* Hero */

.hero {
    margin-top: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__content {
    flex-shrink: 0;
    width: 44%;
}

.hero__media {
    flex-grow: 1;
}

.hero__heading {
    font-size: 7rem;
    font-weight: 600;
    color: #FFFFFF;
    letter-spacing: -0.02em;
}

.hero__desc {
    margin-top: 22px;
    font-size: 1.8rem;
    font-weight: 300;
    color: #C9D2DA;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__phone {
    margin-left: 38px;
    color: #FFFFFF;
}

.hero__images {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero_img {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero_img--small {
    position: relative;
    left: -6px;
    width: 210px;
    height: 410px;
    border-radius: 0px 6px 6px 0px;
}

/* Service */
.service {
    margin-top: 170px;
}

.section-heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 60px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #10375C;
}

.section-desc {
    width: 468px;
    margin: 0 auto;
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 30px;
    text-align: center;
    color: #575F66;
}

.service-row {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.service__item {
    display: flex;
    width: 470px;
    height: 128px;
    background: #FFFFFF;
    border-radius: 10px;
}

.service__item:hover {
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}

.service__item:hover .service__icon--wrap{
    background: #2E80CE;
}

.service__item:hover .service__icon {
    fill: #FFFFFF;
}

.service__item + .service__item {
    margin-top: 21px;
}

.service__icon--wrap {
    margin-top: 21px;
    margin-left: 22px;
    width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
    background: #EFF6FD;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    border-radius: 50px;
}

.service__icon {
    fill: #10375C;
}

.service__item__body {
    margin-top: 21px;
    margin-left: 19px;
}

.service__item--heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 23px;
    color: #10375C;
}

.service__item--desc {
    width: 351px;
    margin-top: 8px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 28px;
    color: #575F66;
}

.service__btn {
    margin-top: 55px;
}

/* How it work */
.howitwork {
    margin-top: 170px;
    padding: 100px 0;
    background: #F7FBFF;
}

.howitwork__heading,
.howitwork__desc {
    text-align: left;
    margin: 0;
}

.howitwork__desc {
    margin-top: 18px;
}

.howitwork-row {
    margin-top: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.howitwork-item {
    width: 370px;
    height: 402px;
    background-color: #FFFFFF;
    border: 16px solid #EAF6FF;
    padding: 45.23px 42px 43px 42px;
    border-radius: 4px;
    transition: 0.25s;
}

.howitwork-item:hover {
    border: 16px solid #2E80CE;
    transform: translateY(-16px);
}

.howitwork-item:hover .howitwork-item--link {
    color: #2E80CE;
}

.howitwork-item-heading {
    margin-top: 20.25px;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 36px;
    color: #10375C;
}

.howitwork-item--desc {
    margin-top: 28px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 28px;
    color: #575F66;
}

.howitwork-item--link {
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 28px;
    color: #575F66;
}

/* Feature */
.feature {
    margin-top: 85px;
    padding: 85px 0;
}

.feature__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 130px;
}

.feature__media {
    width: 48%;
}

.feature__images {
    position: relative;
    padding-bottom: 121px;
}

.feature__img {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.feature__img--small {
    position: absolute;
    bottom: 0;
    left: 238px;
    width: 322px;
    height: 370px;
    object-fit: cover;
}

.feature__heading {
    text-align: left;
    width: 470px;
}

.feature__desc {
    margin: 18px 0 0 0;
    text-align: left;
}

.feature__btn {
    margin-top: 53px;
}

/* Member */

.member {
    margin-top: 85px;
    padding: 85px 0;
}

.member__header {
    text-align: center;
}

.member-cta {
    margin-top: 38px;
}

.member__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-top: 70px;
}

.member__control {
    margin-top: 38px;
    text-align: center;
}

.member-item__img-bg {
    padding: 28px 4px 0 4px;
    background: #EAF6FF;
    border-radius: 6px;
}

.member-item__thumb {
    display: block;
}

.member-item__name {
    margin-top: 12px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 28px;
    text-align: center;
    color: #10375C;
}

.member-item__desc {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 26px;
    text-align: center;
    color: #575F66;
}

.control-btn {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid #575F66;
    text-align: center;
    line-height: 38px;
    background-color: #FFFFFF;
    transition: 0.25s;
    cursor: pointer;
}

.control-btn:hover {
    background: #2E80CE;
    border: 1px solid #2E80CE;
}

.control-icon {
    stroke: #575F66;
}


.control-btn:hover .control-icon {
    stroke: #FFFFFF;
}

.control-btn-right {
    margin-left: 18px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* Install  */

.install {
    margin: 90px 0;
    padding: 85px 0;
}

.install-row {
    display: flex;
    align-items: center;
    gap: 160px;
    padding: 0 70px;
    background: #2E80CE;
    border-radius: 4px;
}

.install__img {
    margin-top: -95px;
    display: block;
}

.install-info {
    max-width: 586px;
}

.install-heading {
    width: 489px;
    text-align: left;
    color: #FFFFFF;
}

.install-desc {
    width: 100%;
    color: #FFFFFF;
    text-align: left;
}

.install-apps {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 28px;
}

.install__item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 8px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.install__item-desc {
    color: #FFFFFF;
    font-size: 0.9rem;
}

.install__item-appname {
    margin-top: 4px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.2rem;
}

/* News */

.news {
    padding: 85px 0;
}

.news__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news-content {
    flex-shrink: 0;
}

.news-heading {
    max-width: 470px;
    text-align: left;
}

.news__more {
    display: inline-block;
    margin-top: 28px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 28px;
    text-decoration-line: underline;
    color: #10375C;
    text-underline-offset: 5px;
}

.news__control {
    margin-top: 28px;
}

.new__list {
    max-width: 570px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.news-item {
    flex: 1;
}

.news-item:hover {
    background: #FFFFFF;
    box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.05);
    
}

.news-item:hover .news-item__link {
    color: #2E80CE;
}

.news-item__thumb {
    display: block;
    width: 100%;
    height: 172px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.news-item__body {
    padding: 18px 22px 21px 22px;
    border: 1px solid #E8EBEE;
    border-top: none;
    border-radius: 0 0 12px 12px;
}

.news-item__heading {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 26px;
    color: #10375C;
}

.news-item__desc {
    margin-top: 10px;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 24px;
    color: #575F66;
}

.news-item__link {
    display: inline-block;
    margin-top: 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 18px;
    color: #10375C;
}

/* Appointment */ 

.appointment {
    margin: 85px 0;
    text-align: center;
}

.appointment__inner {
    padding: 100px 179px 100px 178px;
    background: #F7FBFF;
}

.appointment__heading {
    height: 60px;
}

.appointment__heading::after {
    position: relative;
    bottom: 30px;
    display: inline-block;
    content: "";
    width: 136px;
    height: 2px;
    background: #2E80CE;
}   

.appointment__desc {
    width: 617px;
    margin-top: 38px;
    font-size: 1.6rem;
}

.appointment__btn {
    margin-top: 38px;   
}

/* Footer */
.footer {
    margin-top: 85px;
    padding: 100px 0 42px 0;
    background: #10375C;
    font-family: 'Open Sans', sans-serif;
}

.footer__row {
    display: grid;
    grid-template-columns: 1fr .4fr .4fr 1fr;
    column-gap: 78px;
}

.footer__desc {
    margin-top: 21px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 28px;
    color: #A9B3BB;
}

.footer__heading {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 28px;
    color: #FFFFFF;
}

.footer__link {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 26px;
    color: #A9B3BB;
}

.footer__list {
    margin: 20px 0 28px 0;
}

.social {
    margin-bottom: 28px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.footer__social-btn {
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    background: #FFFFFF;
}

.footer__social-btn:hover {
    background: #2E80CE;
}

.footer__social-btn:hover .footer__social-logo {
    fill: white;
}

.footer__social-logo {
    fill: #2E80CE;
}

.form {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

#email {
    width: 212px;
    height: 46px;
    padding: 10px;
    border: 1px solid #406181;
    border-radius: 4px;
    background-color: transparent;
}

.footer__submit {
    min-width: 108px;
    width: 108px;
    height: 46px;
    line-height: 46px;
    margin-left: 12px;
    border-radius: 4px;
    border: none;
}

.footer__bottom {
    border-top: 1px solid #406181;
}

.copyright {
    margin-top: 28px;   
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 26px;
    text-align: center;
    color: #AAB3BA;
}